<div [class]="isHeroVillain() ? 'hero-card hero-villain' : 'hero-card'">
    <div class="hero-name">{{hero().name}}
        <!--@if (isHeroVillain()) {
            <style>
                .hero-villain{background-color: #91b6dc;}
            </style>
        }@else {
            <style>
                .hero-villain{background-color: rgb(171, 120, 222);}
                .hero-villain{color:white}
            </style>
        } Esto sería otra manera de controlar los estilos en base a si es villano o no.-->  
    </div>
    <div class="hero-img">
      <img [src]="hero().image" alt="Hero Image"/>
    </div> 
    <span style="text-align: center;"><strong>Hero stats:</strong></span>
    @for (powerstat of hero().powerstats | keyvalue; track powerstat.key) {
        <!--<pre>{{powerstat | json}}</pre>-->
        <div class="hero-powerstats">
            <span>{{powerstat.key | titlecase}}: {{powerstat.value}}</span>
            <div class="hero-powerstats-button">
                <button [disabled]="powerstat.value === 0" 
                (click)="decrementPowerstats(powerstat.key)">-</button>
                <button [disabled]="powerstat.value === 100" 
                (click)="incrementPowerstats(powerstat.key)">+</button>
            </div>
        </div>
    }
    <hr/>
    <div class="hero-abilities">
        <span>Abilities: {{hero().abilities}}</span>
    </div>

    
</div>
